p {
    color:rgb(255, 255, 255);
    font-size: 25px;
}
body{
    background-color: rgb(0, 0, 0);
}

p { 
    text-align: center;
    font-family: "Montserrat"
}
h1, h2{
    text-align: center;
    font-family: "Montserrat";
    color: white;
    font-size: 30px;
}

.table table td, .table table th {
    border: 1px solid white;
    padding: 12px;
}
.table table {
    font-family: "Montserrat";
    color: white;
    margin-left: auto;
    margin-right: auto;
}
img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
 /* box model */
}